@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@500&display=swap');


$primary-color:#31478F;
$secondary-color:#ced9fc;


.container{
    padding:0;
    margin:0 auto;
    width:80%;
}
.article{
    margin:5rem 0;
    font-family: 'Roboto Slab', serif;
    display:flex;
    justify-content: space-between;
}

.article h1{
    font-size:3rem;
    color:#333;
}

.section{
    width:50%;

    p{
        width:80%;
        font-size: 1.2rem;
        font-family: Lora;
        color: #666666;
        font-weight: 600;
        line-height: 200%;
    }
}


.img{
    
    position:relative;
    height:300px;
    width:300px;
    border-radius:50%;
    overflow:hidden;
    color:#a9b3d1;
}
