.Bill{
    width:90%;
    max-width:400px;
    margin:2rem auto;
    overflow-x: hidden;
    border-radius: 1rem;

}
.BillBody{
    background-color: white;
    min-height: 20rem;
   width:100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:2rem 0rem;
   padding-right: 5%;
}

.BimbaLogo{
    height: 100px;
}

.Services{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #878c937a;
    width:100%;
    border-width: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    margin:1rem 0rem;
gap:1rem;
}

.Service{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.ServiceSec1{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    strong{
        display: block;
    }
    strong:nth-child(1){
        color:#101928;
    }
    strong:nth-child(2){
        color:#878C93;
    }
}

.ServiceSec2{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    color:#101928;
}