@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap');

.header{
    font-family: Roboto Slab;
    height:100vh;
    position:relative;
   color:white;
    
   h2{
       font-size: 3rem;
       text-align: center;
   }
   p{
       font-size: 2rem;
       text-align: center;
   }
}


.bgimg{
    height:100%;
    filter: brightness(50%);
    transform:scale(1.2);
    opacity: 0;
animation: anim 1s ease forwards;
    @media screen and (max-width:600px) {
        background-position: right;
    }
    background:url("/services.jpg") no-repeat left top;
    filter:brightness(0.9);
    background-size:cover;
}

@keyframes anim {
    to{
transform: scale(1);
opacity: 1;

    }
}    

@keyframes animBg {
    
    to{
       opacity: 1;
    transform:translateY(-50%) scale(1);

   
      

    }
}
.BottomShape{
    
    position:absolute;
    bottom:-0.1rem;
    z-index: 0;
}

.Card{
    position:absolute;
    top:50%;
    left:10%;
        right:10%;
    opacity: 0;
    transform:translateY(-50%) scale(0.7);

    animation: animBg 1.2s ease forwards 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin:0 auto;


}


.callButton{
    font-family: 'Lora', sans-serif;
    margin-top:2rem;
    letter-spacing: 2px;
    font-size:1.3rem;
    background:rgba(121, 130, 206, 0.3);
    border:none;
    z-index: 100;
    padding:1rem 2rem;
    font-weight:bold;
    cursor:pointer;
    color:white;
    margin:1rem;
    transition:0.5s;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px black;
}

.callButton:hover{
    background-color: pink;
    color:black;
    transform: scale(0.9);
    transition:0.5s;
}

.ButtonWrapper{
    display: flex;
    width:100%;
    margin:0 auto;
justify-content: center;
    @media screen and (max-width:530px) {
        flex-direction: column;
        align-items: center;
    }
}